.page-404{
  @extend %image-background;
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  position: relative;
  .message{
    display: block;
    position: absolute;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    top: 40%;
    left: 12%;
    text-align: center;
    h1{
      font-size: 16px;
      font-weight: 400;
      margin: 2vh;
    }
    h2{
      font-size: 24px;
      font-weight: 500;
      margin: 3vh;
    }
    p{
      font-size: 14px;
    }
  }
}
