.homepage-launch{
  display: block;
  @extend %image-background;
  font-family: 'Montserrat', sans-serif;
  .logo{
    @extend %logo-large;
  }
  .logs{
    display: block;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    .button{
      display: inline-block;
      margin-bottom: 10vh;
      span{
        display: block;
        text-align: left;
        margin-bottom: 2vh;
        font-size: 14px;
        font-weight: 300;
        color : $white;
      }
      a{
        display: block;
        @extend %button-white;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
      }
      a:hover{
        @extend %button-white-active;
      }
    }
  }
}
