.homepage-login{
  display: block;
  @extend %image-background;
  font-family: 'Montserrat', sans-serif;
  .logo{
    @extend %logo-large;
  }
  .login-form{
    height: auto;
    margin: 0 auto;
    .input{
      display: block;
      width: 180px;
      height: auto;
      margin: 0 auto;
      position: relative;
      margin-bottom: 12vh;
      .input-text{
        @extend %input-text;
      }
      input:focus{
        outline: none;
        border-bottom: solid 2px $white;
        transition: 0.2s all;
      }
      label{
        @extend %input-text-label;
      }
  }
    .submit{
      display: block;
      @extend %button-white;
      margin: 0 auto;
    }
    .submit:hover{
      @extend %button-white-active;
    }
  }
}
