/* w3c */
html {
  position: relative;
  background-color: #000000;
  background-image: url("../images/background-heroes.png");
  opacity: 1;
  background-size: cover; }

.homepage-launch .logo, .homepage-login .logo, .homepage-register .logo, .page-home .logo {
  display: block;
  margin: 0 auto;
  padding-top: 5vh;
  width: 250px;
  margin-bottom: 13vh; }

.homepage-login .login-form .input .input-text, .homepage-register .register-form .input .input-text, .homepage-register .input .input-text {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  padding: 5px 5px 12px 5px;
  border: none;
  border-bottom: 1px solid #fefefe;
  color: #fefefe;
  transition: 0.3s ease all; }

.homepage-login .login-form .input label, .homepage-register .register-form .input label, .homepage-register .input label {
  position: absolute;
  width: 100%;
  color: #fefefe;
  pointer-events: none;
  top: -25px;
  left: -2px;
  font-size: 16px;
  font-weight: 500; }

.homepage-launch .logs .button a, .homepage-login .login-form .submit, .homepage-register .register-form .submit {
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fefefe;
  text-transform: uppercase;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
  transition-delay: 0.2s;
  box-sizing: content-box; }

.homepage-launch .logs .button a:hover, .homepage-login .login-form .submit:hover {
  background-color: transparent;
  border: solid 1px #fefefe;
  color: #fefefe;
  transition-delay: 0.2s; }

html {
  height: 100%; }

body {
  height: 100%; }

section {
  height: 100%; }

.homepage-launch {
  display: block;
  font-family: 'Montserrat', sans-serif; }
  .homepage-launch .logs {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    text-align: center; }
    .homepage-launch .logs .button {
      display: inline-block;
      margin-bottom: 10vh; }
      .homepage-launch .logs .button span {
        display: block;
        text-align: left;
        margin-bottom: 2vh;
        font-size: 14px;
        font-weight: 300;
        color: #fefefe; }
      .homepage-launch .logs .button a {
        display: block;
        text-decoration: none;
        color: #000000;
        cursor: pointer; }

.homepage-login {
  display: block;
  font-family: 'Montserrat', sans-serif; }
  .homepage-login .login-form {
    height: auto;
    margin: 0 auto; }
    .homepage-login .login-form .input {
      display: block;
      width: 180px;
      height: auto;
      margin: 0 auto;
      position: relative;
      margin-bottom: 12vh; }
      .homepage-login .login-form .input input:focus {
        outline: none;
        border-bottom: solid 2px #fefefe;
        transition: 0.2s all; }
    .homepage-login .login-form .submit {
      display: block;
      margin: 0 auto; }

.homepage-register {
  display: block;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px; }
  .homepage-register .logo {
    margin-bottom: 15vh; }
  .homepage-register .register-form {
    height: auto;
    margin: 0 auto; }
    .homepage-register .register-form .input {
      display: block;
      width: 220px;
      height: auto;
      margin: 0 auto;
      position: relative;
      margin-bottom: 14vh; }
      .homepage-register .register-form .input input:focus {
        outline: none;
        border-bottom: solid 2px #fefefe; }
    .homepage-register .register-form .submit {
      display: block;
      margin: auto; }
  .homepage-register .title {
    font-size: 24px;
    color: #fefefe;
    text-align: center;
    margin-bottom: 12vh; }
  .homepage-register .input {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 12vh; }
    .homepage-register .input input:focus {
      outline: none;
      border-bottom: solid 2px #fefefe;
      transition: 0.3s ease all; }
    .homepage-register .input.input-hero-name {
      margin-bottom: 35px; }
  .homepage-register .hero-choice {
    display: block;
    width: 80vw;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center; }
    .homepage-register .hero-choice img.hero {
      display: inline-block;
      width: 27%;
      margin-right: 10px;
      margin-bottom: 5vh; }

.page-404 {
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  position: relative; }
  .page-404 .message {
    display: block;
    position: absolute;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    top: 40%;
    left: 12%;
    text-align: center; }
    .page-404 .message h1 {
      font-size: 16px;
      font-weight: 400;
      margin: 2vh; }
    .page-404 .message h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 3vh; }
    .page-404 .message p {
      font-size: 14px; }

.page-logout {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #fefefe; }
  .page-logout .message {
    display: block;
    position: absolute;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    top: 40%;
    left: 12%;
    text-align: center; }
    .page-logout .message h1 {
      font-size: 16px;
      font-weight: 400;
      margin: 2vh; }
    .page-logout .message p {
      font-size: 14px; }

.page-home {
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  padding-bottom: 12vh; }
  .page-home .logo {
    margin-bottom: 8vh; }
  .page-home .hero-infos {
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 7vh; }
    .page-home .hero-infos .hero {
      display: inline-block;
      width: 40%;
      margin-right: 5%; }
    .page-home .hero-infos .infos {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: center; }
      .page-home .hero-infos .infos .name {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 4vh; }
      .page-home .hero-infos .infos .level-title {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 3vh; }
      .page-home .hero-infos .infos .level {
        display: inline-block;
        margin: 0 auto;
        width: 75px;
        height: 75px;
        border: solid 2px #fefefe;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 300;
        text-align: center; }
      .page-home .hero-infos .infos .level-text {
        font-size: 40px;
        font-weight: 300;
        padding-top: 22%; }
  .page-home .xp {
    display: block;
    margin: 0 auto;
    width: 50vw;
    max-width: 400px;
    margin-bottom: 8vh; }
    .page-home .xp .meter {
      display: block;
      width: 100%;
      height: 25px;
      border: 1px solid #ccc;
      margin-bottom: 1vh; }
    .page-home .xp .meter::-webkit-meter-bar {
      background: #e6e6e9; }
    .page-home .xp .meter::-webkit-meter-optimum-value {
      background: #b40007; }
    .page-home .xp .xp-text {
      display: block; }
      .page-home .xp .xp-text span {
        display: inline-block;
        width: 48%;
        font-size: 18px;
        font-weight: 600px; }
      .page-home .xp .xp-text .max-xp {
        text-align: right; }
  .page-home .events-success {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center; }

.top-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3.5vh;
  margin-bottom: 3vh; }
  .top-bar a {
    position: absolute;
    font-size: 18px;
    text-decoration: none;
    color: #fefefe; }
  .top-bar :first-child {
    left: 10%; }
  .top-bar :last-child {
    right: 10%; }

.page-geo {
  font-family: 'Montserrat', sans-serif;
  color: #fefefe; }
  .page-geo .button {
    display: block;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #fefefe;
    border-radius: 15px;
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=style.css.map */