// COLORS

$red: #DD2C2C;
$white : #fefefe;
$red-radial-gradient: radial-gradient(ellipse at center, rgba(46,5,0,1) 0%, rgba(46,5,0,1) 1%, rgba(26,3,0,1) 100%); /* w3c */


// WIDTH

$break-small: 375px;


// GRAPHIC EXTENDS

%image-background{
  position: relative;
  background: $red-radial-gradient;
  opacity: 1;
  background-size: cover;
}

%logo-large{
  display: block;
  margin: 0 auto;
  padding-top: 5vh;
  width: 250px;
  margin-bottom: 13vh;
}

%input-text{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  border: none;
  border-bottom: 1px solid $white;
  color: $white;
  transition: 0.3s ease all;
}

%input-text-label{
  position: absolute;
  width: 100%;
  color: $white;
  pointer-events: none;
  top: -22px;
  left: 5px;
  font-size: 16px;
  font-weight: 500;
}

/// COMPONENTS

%button-white{
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $white;
  text-transform: uppercase;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
  transition-delay: 0.2s;
}

%button-white-active{
  background-color: transparent;
  border: solid 1px $white;
  color: $white;
  transition-delay: 0.2s;
}
