.homepage-hero-creation{
  display: block;
  width: 100vw;
  height: 150vh;
  @extend %image-background;
  font-family: 'Montserrat', sans-serif;
  .layer {
    @extend %layer-gradient;
  }
  .logo{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .title{
    font-size: 24px;
    color: $white;
    text-align: center;
    margin-bottom: 10px;
  }
  .heroes{
    display: block;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    .hero{
      display: inline-block;
      background: url('../images/hero-test.png');
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      width: 70px;
      height: 100px;
      margin: 10px;
      :active{
        outline: none;
      }
      :focus{
        outline: none;
      }
    }
    .input{
      display: block;
      width: 180px;
      height: auto;
      margin: 0 auto;
      position: relative;
      margin-top: 40px;
      .input-text{
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 300;
        background-color: transparent;
        padding: 10px 10px 10px 5px;
        border: none;
        border-bottom: 1px solid $white;
        color: $white;
        transition: 0.3s ease all;
      }
        input:focus{
          outline: none;
          border-bottom: solid 2px $white;
          transition: 0.3s ease all;
        }
        input:focus~label{
          outline: none;
          top: -15px;
          font-size: 16px;
          color: $white;
          transition: 0.2s ease all;
        }
         input:valid~label{
           top: -15px;
           font-size: 16px;
           color: $white;
           transition: 0.2s ease all;
        }
      label{
        position: absolute;
        color: $white;
        pointer-events: none;
        top: 10px;
        left: 5px;
        font-size: 18px;
        transition: 0.2s ease all;
      }
    }
  }

}
