.homepage-register{
  display: block;
  width: 100vw;
  height: auto;
  @extend %image-background;
  font-family: 'Montserrat', sans-serif;
  .logo{
    @extend %logo-large;
  }
  .register-form{
    height: auto;
    margin: 0 auto;
    .input{
      display: block;
      width: 220px;
      height: auto;
      margin: 0 auto;
      position: relative;
      margin-bottom: 14vh;
      .input-text{
        @extend %input-text;
      }
      input:focus{
        outline: none;
        border-bottom: solid 2px $white;
      }
      label{
        @extend %input-text-label;
      }
    }
    .submit{
      display: block;
      @extend %button-white;
      margin: auto;
    }
  }

  .title{
    font-size: 24px;
    color: $white;
    text-align: center;
    margin-bottom: 12vh;
  }
  .input{
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 12vh;
    .input-text{
      @extend %input-text;
    }
    input:focus{
      outline: none;
      border-bottom: solid 2px $white;
      transition: 0.3s ease all;
    }
    label{
      @extend %input-text-label;
    }
  }
  .hero-choice{
    display: block;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 10vw;
    text-align: center;
    img.hero{
      display: inline-block;
      width: 20vw;
      margin-right: 10px;
      margin-bottom: 5vh;
    }
  }
}
